.contacts-item {
    &__title {
        padding: 0.5rem;
        background-color: #e9e1e1;
        margin-top: 1rem;
    }

    &__name {
        display: block;
        padding: 0.5rem 0;
        border-bottom: 1px solid #e9e1e1;
    }
}