.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background: rgba(20, 3, 3, .6);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: .25s ease-in;

    &-wrapper {
        width: 90%;
        max-width: 400px;
        height: fit-content;
        height: max-content;
        // margin-top: -300px;
        margin-top: 2rem;
        background: #fff;
        padding: 1rem;
        border-radius: 1rem;
        cursor: default;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-data {
        display: flex;
        flex-direction: column;

        &__group {
            display: flex;
            align-items: flex-end;
            margin-top: 1rem;
        }
    }

    &-close {
        font-size: 1.4rem;
        cursor: pointer;
    }

    &._open {
        z-index: 99;
        visibility: visible;
        opacity: 1;
    }

    label {
        width: 16%;
        font-size: 0.75rem;
        font-weight: 300;
        opacity: 0.6;
    }

    input {
        width: 84%;
        border: none;
        border-bottom: 1px solid #e9e1e1;
        padding: 0.5rem;
        font-size: 1.2rem;
        font-weight: 300;

        &:focus { 
            outline: none; 
            border-bottom: 2px solid #4651f7;
        }
    }

    button {
        float: right;
        border: none;
        outline: none;
        color: #fff;
        background-color: #4651f7;
        font-size: 1rem;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: .25s;
        &:hover {
            background-color: #2d37bb;
        }
    }
}



